.header,
.mybtn2,
.features-section .features-item:hover,
.section-title .title::before,
.products-section .owl-carousel .owl-nav button.owl-next,
.products-section .owl-carousel .owl-nav button.owl-prev,
.testimonial-section::before,
.newsletter-section::before,
.footer,
.home-section {
  background-color: #05b3b6;
}

.mybtn1:hover,
.section-title .title,
.about-section .about-content ul li i,
.features-section .features-item .icon i,
.contact-section .contact-item .icon i,
.footer .footer-social-links a:hover i,
.testimonial-section .client-info h5,
.contact-section .contact-item h5,
.products-section .products-item .product-content .product-price .new-price,
.testimonial-section .owl-carousel .owl-nav button.owl-next,
.testimonial-section .owl-carousel .owl-nav button.owl-prev,
.faq-section .support-text a,
.mybtn1 {
  color: #05b3b6;
}

.contact-section .contact-form .form-control:focus,
.testimonial-section .client-info img {
  border-color: #05b3b6;
}

.preloader .loader{
  border-right: 5px solid #05b3b6;
}

@media (max-width: 991px) {
  .header .navbar #navbarNav .nav-item .nav-link {
    color: #05b3b6;
  }
}
